.error-indicator {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boom {
  font-weight: 700;
  font-size: 24px;
  color: orange;
}

.error__text {
  color: orange;
}

.error__icon {
  max-width: 64px;
}